<template>
  <div id="app">
    <div id="nav">
      <table align="center">
        <tr>
          <td>
            <select name="roles" id="roles" v-on:change="applyRole()">
              <option value="guest">Guest</option>
              <option value="user">User</option>
              <option value="curator">Curator</option>
            </select>
          </td>
          <td v-if="selectedValue == 'guest' || selectedValue == 'user' || selectedValue == 'curator'">
            | <router-link to="/" class="white">Home</router-link>
          </td>
          <td v-if="selectedValue == 'user' || selectedValue == 'curator'">
            | <router-link to="/data" class="white">Data</router-link>
          </td>
          <td v-if="selectedValue == 'curator'">
            | <router-link to="/suggestions" id="suggestions">Suggestions</router-link>
          </td>
          <td v-if="selectedValue == 'curator'">
            | <router-link to="/statistics" id="statistics">Statistics</router-link>
          </td>
          <td v-if="selectedValue == 'curator'">
            | <router-link to="/database" id="database">Database</router-link>
          </td>
        </tr>
      </table>
    </div>
    <router-view />
  </div>
</template>

<script>

export default {
    data() {
        return {
          selectedValue: 'guest'
        }
    },

    methods: {
      applyRole: function() {
        var selectBox = document.getElementById("roles");
        this.selectedValue = selectBox.options[selectBox.selectedIndex].value;
        if(this.$route.name != 'Home') { 
          this.$router.push('/')
        }
      },
    }
}
</script>

<style lang="scss">

body {
  height: 100vh;
  padding: 0;
}

#app {
  background-image: url("https://images.hdqwalls.com/download/white-cube-pattern-4k-bu-1280x720.jpg");
  background-attachment: fixed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;
  }
}
</style>
