/* eslint-disable */
<template>
  <html>
    <head>
      <title>Data Curation</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>

      <div class="filter-box">
        <div name="select-box"> 
            <label for ="filters" class="filter-label">Select a filter</label>
            <select name="filters" id="filter">
              <option value="default">Default</option>
              <option value="multiYes">Select multiple correct rows</option>
            </select>
            <button type="button" v-on:click="openBoxesById(detections.length)">Submit</button>
        </div>
        <div class="filtered-boxes" id="multiYes">
          <button v-on:click="curatedMass(sortByConf(detections))">Send all rows you want to submit</button>
        </div>
      </div>
      <div class="container">
        <div class="selectSearch-container">
          <select name="searchOptions" id="searchOptions">
            <option value="byText">Search by text</option>
            <option value="byConf">Search by confindence level</option>
          </select>
          <button type="button" v-on:click="setSearchType()">Submit</button>
        </div>
        
        <div v-if="searchConf == false">
          <input type="text" v-model="search" placeholder="search by text..." class="searchBar">
        </div>
        <div v-else>
          <input type="text" v-model="search" placeholder="search by confidence level..." class="searchBar" pattern="0-9+">
        </div>
        <br>
        <table class="table" id="list_to_sort">
          <tr class="table-header" id="0">
            <th class="col-image">Image</th>
            <th class="col-desc">Data</th>
            <th class="col-correct">Choice</th>
          </tr>
          <tr
            class="table-row"
            v-for="detection in filteredData(detections)"
            :key="detection.ID"
            v-bind:id="detection.ID"
          >
            <td>
              <img
                :id="'img_' + detection.ID"
                :src="getSrc(detection.photo_segment.photo_reference)"
                class="image"
              />
            </td>
            <td class="desc">
              <table class="table_2">
                <th align="center">Text</th>
                <th align="center">Confidence</th>
                <tr>
                  <td class="center">
                    <p :id="'p_' + detection.ID">{{ detection.OCR_text }}</p>
                  </td>

                  <td align="center" id="text_to_align">
                    <p>{{ detection.conf_number }}</p>
                  </td>
                </tr>

                <tr id="table_row">
                  <td align="center" colspan="2" class=suggestion_row>
                    <div aling="center" class="suggestion" id="suggestion">
                      <label for="suggestion_label">Suggestion: </label>   
                        <input
                        type="text"
                        align="right"
                        :id="'si_'+ detection.ID"
                        name="suggestion_input"
                      />                        
                      <br />
                      <table id="table3">
                        <td align="left">
                          <button 
                          :id="'bt_' + detection.ID"
                          v-on:click="submitSuggestion(detection.ID,'si_' + detection.ID)"
                          class="btn-sug"
                          type="button"
                          >
                          Suggest
                          </button>
                        </td>
                        <td width="50%" align="center">
                          <button
                            :id="'button_' + detection.ID"
                            v-on:click="openModal(detection.OCR_text)"
                            type="button"
                            class="btn-sml"
                          >
                            Similar Detections
                          </button>
                        </td>
                        <td align="center">
                          <button
                            v-on:click="setHidden(detection.ID)"
                            type="button"
                            class="btn-cancel"
                            id=""
                          >
                            Cancel
                          </button>
                        </td>
                      </table>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
            <td class="correct">
              <button v-on:click="clickedYes(detection.ID)" type="button" class="btn-yes">Yes</button>
              <button v-on:click="setVisible(detection.ID)" type="button" class="btn-no">No</button>
            </td>
          </tr>
        </table>
      </div>

        <div v-on:change="getSelectedCheckboxes()" id="modal_window" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <table id="submit_table">
                <th align="center">
                  <p>
                    Select all the fields that needs to be changed
                  </p>
                  <p>
                    Selected: {{ checked.length }}
                  </p>         
                </th>
                <th align="center">
                  <label for="suggestion_label">Change to: </label>
                      <input
                        type="text"
                        align="right"
                        id="suggestion_input_2"
                        name="suggestion_input"
                      />
                </th>
                <th align="center">
                  <input v-on:click="submitSuggestions()" id="btn-sbmt" type="submit" value="Submit">
                </th>
              </table><br><br>
              <table id="modal_table">
                <th>Image</th>
                <th align="center">Detected text</th>
                <th align="center">Check</th>
                <th>
                  <span v-on:click="closeModal()"
                    class="w3-button w3-display-topright">&times;</span>
                </th>
                <tr v-for="text in similar_text" :key="text.ID">
                  <td>
                    <img
                    :src="getSrc(text.photo_segment.photo_reference)"
                    class="image"
                  />
                  </td>
                  <td align="center" id="modal_info">
                    <p align="center">{{ text.OCR_text }}</p>
                    <p align="center">Confidence: {{ text.conf_number }}</p>
                  </td>
                  <td>
                    <input :id="'cb_' + text.ID" type="checkbox" class="checkbox" name="checkbox" value="y/n">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div><br>
        <div class="pagination">
            <button v-on:click="setPage(currentPage - 25)">&laquo;</button>
            <button v-on:click="setPage(25)">1</button>
            <button v-on:click="setPage(50)">2</button>
            <button v-on:click="setPage(75)">3</button>
            <button v-on:click="setPage(100)">4</button>
            <button v-on:click="setPage(125)">5</button>
            <button v-on:click="setPage(150)">6</button>
            <button v-on:click="setPage(currentPage + 25)">&raquo;</button>
          </div>
    </body>      
  </html>
</template>

<script>

import DataServices from "../services/DataService.ts";

var defaultView = true;

var isClickedYes;

var selected = [];

export default {
  data() {
    return {
      detections: [],           // list for ocr_result_pieces
      similar_text: [],         // list for similar detections, based o a specific OCR_text from ocr_result_pieces
      checked: [],              // list for checked checkboxes
      checked_ids: [],          // list for ids of checked checkboxes
      search: '',               // search by text
      searchConf: false,
      currentPage: 25,
    };
  },

  async created() {
    const { data: db_results } = await DataServices.getImageToText();
    this.detections = db_results;
    isClickedYes = new Array(this.detections.length).fill(false);
    this.searchConf = false;
  },

  methods: {
    setSearchType: function() {
      var element = document.getElementById('searchOptions');
      var choice = element.value;
      if(choice == "byText") {
        this.searchConf = false;
      }
      else {
        this.searchConf = true;
      }
    },

    //search
    filteredData: function(detections) {
      return this.sortByConf(detections).filter((data) => {
        if(this.searchConf == false) {
          return data.OCR_text.toLowerCase().match(this.search.toLowerCase());
        }
        else {
          if(this.search == "") {
            return data;
          }
          else {
            return data.conf_number == this.search;
          }
        }
      });
    },

    setPage: async function(cut) {

      this.currentPage = cut;
        if (cut == 0) {
          cut = 25;
          this.currentPage = 25;
        }

        if (cut == 175) {
          cut = 150;
          this.currentPage = 150;
        }
        const { data: db_results } = await DataServices.getImageToText();
        this.detections = Array.from(db_results).slice(cut-25, cut);
        document.documentElement.scrollTop = 0;
    },

    //opening modal on bt-click
    openModal: async function(text) {
      document.getElementById('modal_window').style.display='block'
      //filling table with same results form db
      const { data: same_text } = await DataServices.getSameTexts(text);
      this.similar_text = this.sortByConf(same_text);
    },

    //formating photo paths, to be able to load them
    getSrc: function(path) {
      const res = path.split("\\")
      const str = require('./assets/out/Nr.1._24.8.1914_rectangles/' + res[3] + "/" + res[4]);
      return str
    },

    sortByConf: function (list) {
      return Array.from(list).slice(0,this.currentPage);
    },

    //setting "similar detections" section hidden
    setHidden: function (idt) {
      var element = document
        .getElementById(idt)
        .getElementsByClassName("suggestion_row")[0];
      var div = element.children[0];
      div.style.visibility = "hidden";
    },

    //setting "similar detections" section visible
    setVisible: function (idt) {
      var element = document
        .getElementById(idt)
        .getElementsByClassName("suggestion_row")[0];
      
      var div = element.children[0];
      div.style.visibility = "visible";
    },

    clickedYes: function (idt) {
      if(defaultView) {
        alert('Clicked Yes at id: '+idt);
      }
      else {
        if(isClickedYes[idt] == false) {
          var element = document.getElementById(idt).getElementsByClassName("btn-yes")[0];
          element.setAttribute('style','background-color: #054d10');
          isClickedYes[idt] = true;
          selected.push(idt);
        }
        else {
          var element = document.getElementById(idt).getElementsByClassName("btn-yes")[0];
          element.setAttribute('style','background-color: #04aa6d');
          isClickedYes[idt] = false;
          for(let i=0;i<selected.length;i++) {
            if(selected[i] == idt) {
              selected.splice(i,1);
            }
          }
        }
      }
    },

    openBoxesById: function(length) {
      console.log(length);
      var element = document.getElementById('filter');
      var choice = element.value;
      switch(choice){
        case "multiYes":
          {
            console.log("Multi yes");
            defaultView = false;
            //set visibility
            var changedElement = document.getElementById("multiYes");
            changedElement.style.visibility = "visible";
            break;
          } 
        default :
        {
          console.log("Default");
          defaultView = true;
          
          //set visibility
          changedElement = document.getElementById("multiYes");
          changedElement.style.visibility = "hidden";
          
          //empty array
          selected = [];

          //set yes-btn color
          isClickedYes = new Array(length).fill(false);
          for(let i=1;i<=length;i++) {
            var element = document.getElementById(i).getElementsByClassName("btn-yes")[0];
            element.setAttribute('style','background-color: #04aa6d');    
          }

          break;
        }
      }
    },

    curatedMass: function(detections) {
      // selected ben van az osszes tr sorszama ami ki van jelolve
      alert("You selected these ids:"+selected);

      defaultView = true;

      //set visibility
      var changedElement = document.getElementById("multiYes");
      changedElement.style.visibility = "hidden";

      console.log(selected);

      //set yes-btn color
      isClickedYes = new Array(detections.length).fill(false);
      for(let i=1;i<=detections.length;i++) {
        var element = document.getElementById(i).getElementsByClassName("btn-yes")[0];
        element.setAttribute('style','background-color: #04aa6d');    
      }

      /*var dataToSubmit = [];

      for(var i=0; i<selected.length;++i){
        var id = selected[i]-1
        var OCR_text = detections[selected[i]-1].OCR_text;
        var photo_reference = detections[selected[i]-1].photo_reference;
        var photo_segment = detections[selected[i]-1].photo_segment;
        var username = "curator123";
        var object = {id,OCR_text,photo_reference,photo_segment,username};
        dataToSubmit.push(object);
      }

      console.log(dataToSubmit);

      for (var i=0; i<dataToSubmit.length;++i) {
        sendResult(dataToSubmit[i]);
        var tableRow = document.getElementById(dataToSubmit[i].id);
        tableRow.style.visibility = "hidden";
        deleteFromOldDb(dataToSubmit[i])
      }*/

      //empty array
      selected = [];
      console.log(selected);
    },

    sendResult: async function(curated_data) {
      await DataServices.postCuratedData(curated_data);
    },

    deleteFromOldDb: async function(data) {

    },
    
    //closing modal window
    closeModal: function() {
      document.getElementById('modal_window').style.display='none'
    },

    //get all selected check boxes in modal window + append their id-s to checked_ids array
    getSelectedCheckboxes: function() {
      //appending all selected checkboxes to checked list
      this.checked = document.querySelectorAll('input[type=checkbox]:checked')
      //looping through checked list and pushing all ids into checked_ids
      this.checked_ids = []
      for (let i = 0; i < this.checked.length; i++) {
        this.checked_ids[i] = this.checked[i].id
      }
    },

    submitSuggestion: async function(id,id_str) {
      const suggested_text = document.getElementById(id_str).value

      const { data: curret_piece } = await DataServices.getById(id)

        //check if element exist whitin the suggestion table of the database (count(ID) > 0)
        const { data: occurance } = await DataServices.checkExistance(id)
        console.log(occurance," to id ",id)

        //if not insert
        if(occurance.value === 0){
          const res = curret_piece[0].photo_segment.photo_reference.split("\\")
          //changing photo reference "./dir/dir/pic_dir/pic.jpg to pic_dir*pic.jpg bc http parametering does not allow '/' or '\', but changing back when inserting"
          const str = res[3] + "*" + res[4]
          //inserting suggestion into database
          await DataServices.insertSuggestion(curret_piece[0].ID,suggested_text,curret_piece[0].OCR_text,curret_piece[0].conf_number,str,"pending")
          console.log("inserted piece ",id)
        }
        else {
          console.log("piece ",id," already in suggestions")
        }

        this.setHidden(id)
    },

    //function to insert selected ocr_pieces (modal window) into suggestion table of bakalada_web
    submitSuggestions: async function() {
      const suggested_text = document.getElementById("suggestion_input_2").value
      console.log(suggested_text)
      for (let i = 0; i < this.checked_ids.length; i++) {
        /*geting the id from id tag
          example: checked_ids = [cb_1, cb_2, cb_3] => 1,2,3
        */
        const id = parseInt(this.checked_ids[i].split('_')[1])
        const { data: curret_piece } = await DataServices.getById(id)

        //check if element exist whitin the suggestion table of the database (count(ID) > 0)
        const { data: occurance } = await DataServices.checkExistance(id)
        console.log(occurance," to id ",id)

        //if not insert
        if(occurance.value === 0){
          const res = curret_piece[0].photo_segment.photo_reference.split("\\")
          //changing photo reference "./dir/dir/pic_dir/pic.jpg to pic_dir*pic.jpg bc http parametering does not allow '/' or '\', but changing back when inserting"
          const str = res[3] + "*" + res[4]
          //inserting suggestion into database
          await DataServices.insertSuggestion(curret_piece[0].ID,suggested_text,curret_piece[0].OCR_text,curret_piece[0].conf_number,str,"pending")
          console.log("inserted piece ",id)
        }
        else {
          console.log("piece ",id," already in suggestions")
        }
      }
      document.getElementById('modal_window').style.display='none'
    }
  },

  mounted() {
    let externalScript = document.createElement('script')
    externalScript.setAttribute('src', 'https://unpkg.com/vue')
    document.head.appendChild(externalScript)
  },
};
</script>

<style scoped>
body {
  font-family: "lato", sans-serif;
}

#modal_info {
  width: 80%
}

.table_2 {
  width: 100%;
}

#submit_table {
  width: 95%;
}

#text_to_align {
  vertical-align: top;
}

.right {
  text-align: right;
}

#suggestion {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

.center {
  text-align: center;
}

#table3 {
  width: 120%;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 80px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
.table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.col-image {
  flex-basis: 35%;
}
.col-desc {
  flex-basis: 45%;
}

.desc {
  width: 45%;
  text-justify: left;
  margin-top: 42px;
}
.col-correct {
  flex-basis: 10%;
}

td {
  background-color: #F1F3F3
}

.btn-yes {
  background-color: #04aa6d;
  color: white;
  padding: 10px 12px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  width: 80%;
}

.btn-no {
  background-color: #f44336;
  color: white;
  padding: 10px 12px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 80%;
}

.btn-sml {
  position: relative;
  background-color:blue;
  color: white;
  padding: 10px 12px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 90%;

}

.btn-sug {
  position: relative;
  background-color:#04aa6d;
  color: white;
  padding: 10px 12px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 80%;

}

.btn-cancel {
  background-color: blue;
  color: white;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  width: 80%;
}

#btn-sbmt {
  background-color: blue;
  color: white;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  width: 100%;
}

#suggestion {
  visibility: hidden;
}

.filtered-boxes {
  visibility: hidden;
}

.filter-box{
  display: block;
  position: relative;
  top: 0.5%;
  right: 0.5%;
}

.filter-label {
  color: black;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.selectSearch-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.searchBar {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 8px 14px;
  font-size: 16px;
}

.pagination button {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

@media all and (max-width: 767px) {
  .table .table-header {
    display: none;
  }
  .table li {
    display: block;
  }
  .table > div,
  img {
    flex-basis: 100%;
  }
  .table > div,
  img:before {
    color: #04aa6d;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
</style>
/* eslint-disable */
