<template>
    <html>
        <head>
            <title>Database view</title>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        </head>
        <body>
            <div class="container">
                <div class="selector1"> 
                    <button type="button" id="opt_1" v-on:click="showOcrResultPieces()">Show ocr result pieces</button> 
                    <button type="button" id="opt_2" v-on:click="showSuggestionDb()">Show suggestion db</button>
                    <button type="button" id="opt_3" v-on:click="showBothDb()">Show both databases</button>
                    <br>
                    <button type="button" id="back" v-on:click="goBackToInitial()">Back</button>
                </div>

                <div class="db1">
                    <div class="ocr_result_pieces">
                        <h1>Ocr Results Pieces</h1>
                        <table class="table">
                            <tr class="table-header" id="0">
                                <th>Image</th>
                                <th>Ocr text piece</th>
                                <th>Confidence</th>
                            </tr>
                            <tr 
                            class="table-row"
                            v-for="ocr_result_piece in getSliceOfNumber(ocr_result_pieces,0)"
                            :key="ocr_result_piece.ID"
                            v-bind:id="ocr_result_piece.ID">
                                <td>
                                    <img
                                        :id="'img_' + ocr_result_piece.ID"
                                        :src="getSrc(ocr_result_piece.photo_segment.photo_reference)"
                                        class="image"
                                    />
                                </td>
                                <td align="center">
                                    <p :id="'p_orpt_' + ocr_result_piece.ID">{{ ocr_result_piece.OCR_text }}</p>
                                </td>
                                <td align="center">
                                    <p :id="'p_orpc_' + ocr_result_piece.ID">{{ ocr_result_piece.conf_number }}</p>
                                </td>
                            </tr>
                        </table>

                        <button type="button" v-on:click="goPreviousPage()">Previous</button>
                        <button type="button" v-on:click="goNextPage()">Next</button>

                    </div>
                </div>
                <div class="db2">
                    <div class="suggestions">
                        <h1>All suggestions</h1>
                        <table class="table">
                            <tr class="table-header" id="0">
                                <th>Original data</th>
                                <th>Suggestion</th>
                                <th>Confidence Level</th>
                                <th>Suggestion Count</th>
                            </tr>
                            <tr
                                class="table-row"
                                v-for="suggestion in getSliceOfNumber(suggestions,2)"
                                :key="suggestion.ID"
                                v-bind:id="suggestion.ID"
                            >
                                <td>
                                    <p :id="'p_st' + suggestion.ID">
                                        {{ suggestion.OCR_text }}
                                    </p>
                                </td>
                                <td >
                                    <p :id="'p_sst' + suggestion.ID">
                                        {{ suggestion.suggested_text }}
                                    </p>
                                </td>
                                <td >
                                    <p :id="'p_conft' + suggestion.ID">
                                        {{ suggestion.conf_number }}
                                    </p>
                                </td>
                                <td >
                                    <p :id="'p_sct' + suggestion.ID">
                                        {{ suggestion.suggestion_count }}
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <button type="button" v-on:click="goPreviousPage()">Previous</button>
                        <button type="button" v-on:click="goNextPage()">Next</button>

                    </div>
                </div>
                <div class="db3">
                    <div class="joinedDb">
                        <h1>Show both databases</h1>
                        <table class="table">
                            <tr class="table-header" id="0">
                                <th>Image</th>
                                <th>Ocr text piece</th>
                                <th>Confidence</th>
                                <th>Suggestions</th>
                            </tr>
                            <tr 
                            class="table-row"
                            v-for="ocr_result_piece in getSliceOfNumber(ocr_result_pieces,0)"
                            :key="ocr_result_piece.ID"
                            v-bind:id="ocr_result_piece.ID">
                                <td>
                                    <img
                                        :id="'img_' + ocr_result_piece.ID"
                                        :src="getSrc(ocr_result_piece.photo_segment.photo_reference)"
                                        class="image"
                                    />
                                </td>
                                <td align="center">
                                    <p :id="'p_orpt_' + ocr_result_piece.ID">{{ ocr_result_piece.OCR_text }}</p>
                                </td>
                                <td align="center">
                                    <p :id="'p_orpc_' + ocr_result_piece.ID">{{ ocr_result_piece.conf_number }}</p>
                                </td>
                                <td align="center">
                                    <button type="button" v-on:click="getSuggestionForThisTile(ocr_result_piece.ID)" >Get suggestions</button>
                                    <button type="button" v-on:click="getBack(ocr_result_piece.ID)">Back</button>
                                    <div class="hiddentable" v-if="getShowValue(ocr_result_piece.ID)">
                                        <table class="table" 
                                        :id="'suggestion_' + ocr_result_piece.ID" >
                                            <tr class="table-header" id="0">
                                                <th>Suggestions Id</th>
                                                <th>Suggestion Text</th>
                                            </tr>
                                            <tr 
                                            class="table-row"
                                            v-for="suggestion in getSliceOfNumberSuggestion(ocr_result_piece.ID,suggestions)"
                                            :key="suggestion.ID"
                                            v-bind:id="suggestion.ID">
                                                <td>
                                                    <p :id="'p_ssct' + suggestion.ID">
                                                        {{ suggestion.ID }}
                                                    </p>
                                                </td>
                                                <td>
                                                    <p :id="'p_ssct' + suggestion.ID">
                                                        {{ suggestion.suggested_text }}
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </body>
    </html>
</template>

<script>
import DataServices from "../services/DataService.ts";
var start = [0,0];
var end = [0,0];
var tableIndex;
var sliceSize = 25;
var lastTable = "";
var showElement = new Array(sliceSize+1).fill(false);

export default {
    data() {
        return {
            ocr_result_pieces: [],
            suggestions: [],
        };
    },

    async created() {
        console.log(document)
        const { data: db_results1 } = await DataServices.getImageToText();
        this.ocr_result_pieces = db_results1;
        const { data: db_results2 } = await DataServices.getAllSuggestions("pending");
        this.suggestions = db_results2;
        console.log(this.suggestions)
    },

    methods: {
        getSrc: function(path) {
            const res = path.split("\\")
            const str = require('./assets/out/Nr.1._24.8.1914_rectangles/' + res[3] + "/" + res[4]);
            return str
        },

        getSliceOfNumber: function (list,index) {
            tableIndex = index;
            start[index] = 0;
            end[index] = sliceSize;
            var array = Array.from(list).slice(start[index] ,end[index]);

            start[index] = start[index] + sliceSize;
            end[index] = end[index] + sliceSize;
            return array;
        },

        goBackToInitial: function() {
            var index;
            if (lastTable == "ocr_result_pieces") {
                index = 1;
            } if (lastTable == "suggestions") {
                index = 2;
            } if (lastTable == "joinedDb") {
                index = 3;
            }
            
            var thisElement = document.getElementsByClassName(lastTable)[0];
            thisElement.style.visibility = "hidden";
        },

        showOcrResultPieces: function () {
            var thisElement = document.getElementsByClassName("ocr_result_pieces")[0];
            thisElement.style.visibility = "visible";

            lastTable = "ocr_result_pieces";
        },

        showSuggestionDb: function() {
            var thisElement = document.getElementsByClassName("suggestions")[0];
            thisElement.style.visibility = "visible";

            lastTable = "suggestions";
        },

        showBothDb: function() {
            var thisElement = document.getElementsByClassName("joinedDb")[0];
            thisElement.style.visibility = "visible";

            lastTable = "joinedDb";
        },

        getSuggestionForThisTile: function(index) {
            showElement[index] = true;
            this.$forceUpdate();
        },

        getSliceOfNumberSuggestion: function(index,suggestions) {
            var array = [];
            for (const item of suggestions) {
                if (item.OCR_result_piece_id == index) {
                    array.push(item)
                }
            }
            return array;
        },

        getShowValue: function(index) {
            return showElement[index];
        },

        getBack: function(index) {
            showElement[index] = false;
            this.$forceUpdate();
        },

        goNextPage: function () {
            start[tableIndex] = start[tableIndex] + sliceSize;

            end[tableIndex] = end[tableIndex] + sliceSize;
        },

        goPreviousPage: function () {
            if (start[tableIndex] != 0) {
                start[tableIndex] = start[tableIndex] - sliceSize;

                end[tableIndex] = end[tableIndex] - sliceSize;
            }
        },
    },
}

</script>
<style scoped>
body {
  font-family: "lato", sans-serif;
}
.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
}
.table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.db1 {
    visibility: hidden;
    position: absolute;
    width: 50%;
}
.db2 {
    visibility: hidden;
    position: absolute;
    width: 50%;
    float: right;
}

.db3 {
    visibility: hidden;
    position: absolute;
    width: 50%;
    float: right;
}


button {
    margin: 0.5%;
}

.container .ocr_result_pieces {
    position: absolute;
}

.container .suggestion {
   position: absolute; 
}

.container .ocr_results {
    position: absolute;
}

.container .all_curated_data {
   position: absolute; 
}

.hiddentable {
    visibility: hidden;
}

</style>