<template>
  <html>
    <head>
      <title>Data Curation</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
      <div class="container">
        <div>
          <input type="text" v-model="search" placeholder="search text..." class="searchBar">
        </div>
        <br>
        <table class="table" id="list_to_sort">
          <tr class="table-header" id="0">
            <th class="col-image">Image</th>
            <th class="col-desc">Data</th>
          </tr>
          <tr
            class="table-row"
            v-for="detection in filteredData(detections)"
            :key="detection.ID"
            v-bind:id="detection.ID"
          >
            <td>
              <img
                :id="'img_' + detection.ID"
                :src="getSrc(detection.photo_segment.photo_reference)"
                class="image"
              />
            </td>
            <td class="desc">
              <h2>Text:    {{ detection.OCR_text }}</h2>
            </td>
          </tr>
        </table><br>
        <div class="pagination">
          <button v-on:click="setPage(currentPage - 25)">&laquo;</button>
          <button v-on:click="setPage(25)">1</button>
          <button v-on:click="setPage(50)">2</button>
          <button v-on:click="setPage(75)">3</button>
          <button v-on:click="setPage(100)">4</button>
          <button v-on:click="setPage(125)">5</button>
          <button v-on:click="setPage(150)">6</button>
          <button v-on:click="setPage(currentPage + 25)">&raquo;</button>
        </div>
      </div><br>
    </body>      
  </html>
</template>

<script>
    import DataServices from "../services/DataService.ts";

    export default {
        data() {
            return {
                detections: [],           // list for ocr_result_pieces
                search: '',
                currentPage: 25,
            };
        },

        async created() {
            const { data: db_results } = await DataServices.getImageToText();
            this.detections = db_results;
        },

        methods: {
            sortByConf: function (list) {
                return Array.from(list).slice(0,this.currentPage);
            },

            filteredData: function(detections) {
                return this.sortByConf(detections).filter((data) => {
                    return data.OCR_text.toLowerCase().match(this.search.toLowerCase());
                })
            },

            getSrc: function(path) {
                const res = path.split("\\")
                const str = require('./assets/out/Nr.1._24.8.1914_rectangles/' + res[3] + "/" + res[4]);
                return str
            },

            setPage: async function(cut) {

              this.currentPage = cut;
              if (cut == 0) {
                cut = 25;
                this.currentPage = 25;
              }

              if (cut == 175) {
                cut = 150;
                this.currentPage = 150;
              }
              const { data: db_results } = await DataServices.getImageToText();
              this.detections = Array.from(db_results).slice(cut-25, cut);
              window.scrollTo(0, 0);
            },
        }
    }
</script>


<style scoped>
body {
  font-family: "lato", sans-serif;
}

#modal_info {
  width: 80%
}

.table_2 {
  width: 100%;
}

#submit_table {
  width: 95%;
}

#text_to_align {
  vertical-align: top;
}

.right {
  text-align: right;
}

#suggestion {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

.center {
  text-align: center;
}

#table3 {
  width: 120%;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 80px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

td {
  background-color: #F1F3F3
}

.table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.col-image {
  flex-basis: 35%;
}
.col-desc {
  flex-basis: 45%;
}

.desc {
  width: 45%;
  text-justify: left;
  margin-top: 42px;
}
.col-correct {
  flex-basis: 10%;
}

.btn-yes {
  background-color: #04aa6d;
  color: white;
  padding: 10px 12px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  width: 80%;
}

.btn-no {
  background-color: #f44336;
  color: white;
  padding: 10px 12px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 80%;
}

.btn-sml {
  position: relative;
  background-color:blue;
  color: white;
  padding: 10px 12px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 90%;

}

.btn-sug {
  position: relative;
  background-color:#04aa6d;
  color: white;
  padding: 10px 12px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 80%;

}

.btn-cancel {
  background-color: blue;
  color: white;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  width: 80%;
}

#btn-sbmt {
  background-color: blue;
  color: white;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  width: 100%;
}

#suggestion {
  visibility: hidden;
}

.filtered-boxes {
  visibility: hidden;
}

.filter-box{
  display: block;
  position: relative;
  top: 0.5%;
  right: 0.5%;
}

.filter-label {
  color: black;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.searchBar {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 8px 14px;
  font-size: 16px;
}

.pagination button {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

@media all and (max-width: 767px) {
  .table .table-header {
    display: none;
  }
  .table li {
    display: block;
  }
  .table > div,
  img {
    flex-basis: 100%;
  }
  .table > div,
  img:before {
    color: #04aa6d;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
</style>
/* eslint-disable */
