<template>
  <body>
    <form action="action_page.php" method="post">
        <div class="container1">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
    
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div class="container2" style="background-color:#4e5e52">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="button" class="registerbtn">Register</button>
        </div>
    </form>
  </body>
</template>


<style scoped>
form {
    border: 3px solid #4e5e52;
    position: relative;
    top: 100px;
    left: 35%;
    width: 30%;
    height: 46%;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    margin-left: 2.5%;
  }

  .registerbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #22a7f0;
    margin-left: 57%;
    margin-right: 2.5%;
  }
  
  .container1 {
    padding: 16px;
  }

  .container2 {
    padding: 10px;
    margin-left: -3px;
    margin-right: -3px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }

    .registerbtn {
      width: 100%;
    }
  }

</style>