<template>
    <html>
        <head>
            Hello
        </head>

        <body>
            <div>
                <apexchart type="pie" width="500" align="center" :options="chartOptions" :series="series"></apexchart>
            </div>

            <div>
              <button id="show" v-on:click="showAll()" align="left">Show all</button>
            </div>

             <div class="container">
               <table id="boss_table">
                 <th id="pending_header" class="headers">Pending</th>
                 <th id="approved_header" class="headers">Approved</th>
                 <th id="disapproved_header" class="headers">Disapproved</th>
                 <tr>
                   <td id="pending_table" class="status_column">
                      <table class="table">
                          <tr class="table-header" id="0">
                              <th class="col-image">Image</th>
                              <th class="col-desc">Data</th>
                              <th class="col-correct">Suggestion</th>
                          </tr>
                          <tr
                              class="table-row"
                              v-for="pending in pendings"
                              :key="pending.ID"
                              v-bind:id="pending.ID"
                          >
                              <td>
                                  <img
                                  :id="'img_' + pending.ID"
                                  :src="getSrc(pending.photo_reference)"
                                  class="image"
                                  />
                              </td>
                              <td>
                                  <p :id="'pT_' + pending.ID">
                                      {{ pending.OCR_text }}
                                  </p>
                              </td>
                              <td >
                                  <p>{{ pending.suggested_text }}</p>
                              </td>
                          </tr>
                      </table>
                    </td>

                    <td id="approved_table" class="status_column">
                      <table class="table">
                          <tr class="table-header" id="0">
                              <th class="col-image">Image</th>
                              <th class="col-desc">Data</th>
                              <th class="col-correct">Suggestion</th>
                          </tr>
                          <tr
                              class="table-row"
                              v-for="approved in approveds"
                              :key="approved.ID"
                              v-bind:id="approved.ID"
                          >
                              <td>
                                  <img
                                  
                                  :id="'img_' + approved.ID"
                                  :src="getSrc(approved.photo_reference)"
                                  class="image"
                                  />
                              </td>
                              <td>
                                  <p :id="'pT_' + approved.ID">
                                      {{ approved.OCR_text }}
                                  </p>
                              </td>
                              <td >
                                  <p>{{ approved.suggested_text }}</p>
                              </td>
                          </tr>
                      </table>
                    </td>

                    <td id="disapproved_table" class="status_column">
                      <table class="table">
                          <tr class="table-header" id="0">
                              <th class="col-image">Image</th>
                              <th class="col-desc">Data</th>
                              <th class="col-correct">Suggestion</th>
                          </tr>
                          <tr
                              class="table-row"
                              v-for="disapproved in disapproveds"
                              :key="disapproved.ID"
                              v-bind:id="disapproved.ID"
                          >
                              <td>
                                  <img
                                  :id="'img_' + disapproved.ID"
                                  :src="getSrc(disapproved.photo_reference)"
                                  class="image"
                                  />
                              </td>
                              <td>
                                  <p :id="'pT_' + disapproved.ID">
                                      {{ disapproved.OCR_text }}
                                  </p>
                              </td>
                              <td >
                                  <p>{{ disapproved.suggested_text }}</p>
                              </td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                </table>
            </div>
        </body>
    </html>
</template>

<script>

import DataServices from "../services/DataService.ts";

export default {
    data() {
        return {
            series: [],
            pendings: [],
            approveds: [],
            disapproveds: [],
          chartOptions: {
            chart: {
              width: 380,
              type: 'pie',
              events: {
                dataPointSelection: function(event, charContext, config) {
                  if(config.dataPointIndex == 0) {
                    document.getElementById("pending_table").style.visibility = "visible"
                    document.getElementById("approved_table").style.visibility = "hidden"
                    document.getElementById("disapproved_table").style.visibility = "hidden"
                    document.getElementById("pending_header").style.visibility = "visible"
                    document.getElementById("approved_header").style.visibility = "hidden"
                    document.getElementById("disapproved_header").style.visibility = "hidden"
                    document.getElementById("show").style.visibility = "visible"
                  } else if (config.dataPointIndex == 1) {
                    document.getElementById("pending_table").style.visibility = "hidden"
                    document.getElementById("approved_table").style.visibility = "visible"
                    document.getElementById("disapproved_table").style.visibility = "hidden"
                    document.getElementById("pending_header").style.visibility = "hidden"
                    document.getElementById("approved_header").style.visibility = "visible"
                    document.getElementById("disapproved_header").style.visibility = "hidden"
                    document.getElementById("show").style.visibility = "visible"
                  } else if (config.dataPointIndex == 2) {
                    document.getElementById("pending_table").style.visibility = "hidden"
                    document.getElementById("approved_table").style.visibility = "hidden"
                    document.getElementById("disapproved_table").style.visibility = "visible"
                    document.getElementById("pending_header").style.visibility = "hidden"
                    document.getElementById("approved_header").style.visibility = "hidden"
                    document.getElementById("disapproved_header").style.visibility = "visible"
                    document.getElementById("show").style.visibility = "visible"
                  }
              }
    }
            },
            labels: ['Pending', 'Approved', 'Disapproved'],
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  width: 200
                },
                legend: {
                  position: 'bottom'
                }
              }
            }]
          },
        };
    },

    async created() {
      const pending = await DataServices.getPending();
      const approved = await DataServices.getApproved();
      const disapproved = await DataServices.getDisapproved();
      this.series.push(pending.data.value);
      this.series.push(approved.data.value);
      this.series.push(disapproved.data.value);

      const { data: pendings } = await DataServices.getAllSuggestions("pending")
      const { data: approveds } = await DataServices.getAllSuggestions("approved")
      const { data: disapproveds } = await DataServices.getAllSuggestions("disapproved")

      this.pendings = pendings
      this.approveds = approveds
      this.disapproveds = disapproveds
    },

    methods: {
      filteredData: function(suggestions) {
        return suggestions
      },

      getSrc: function(path) {
        const str = require('./assets/out/Nr.1._24.8.1914_rectangles/' + path);
        return str
      },

      showAll: function() {
        document.getElementById("pending_table").style.visibility = "visible"
        document.getElementById("approved_table").style.visibility = "visible"
        document.getElementById("disapproved_table").style.visibility = "visible"
        document.getElementById("pending_header").style.visibility = "visible"
        document.getElementById("approved_header").style.visibility = "visible"
        document.getElementById("disapproved_header").style.visibility = "visible"
      }
    }
}
</script>

<style scoped>
body {
  font-family: "lato", sans-serif;
}

.headers {
  width: 100%;
}

.status_column {
  vertical-align: top;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 80px;
}


#boss_table {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table .table-row {
  background-color: #fff;
}
.btn-yes {
  background-color: #04aa6d;
  color: white;
  padding: 10px 12px;
  margin-top: 25px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.btn-no {
  background-color: #f44336;
  color: white;
  padding: 10px 12px;
  margin-top: 20px;
  margin-bottom: 25px;
  border: none;
  cursor: pointer;
  width: 50%;
}

img {
  max-width: 33vh;
  height: auto;
}

button {
  visibility: hidden;
}
</style>
