<template>
    <html>
        <head>
            <title>
                Curated data
            </title>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="./styles/suggestion.css">
        </head>
        <body>
            <div class="container">
                <table class="table">
                    <tr class="table-header" id="0">
                        <th class="col-image">Image</th>
                        <th class="col-desc">Data</th>
                        <th class="col-correct">Suggestion</th>
                        <th>Approval</th>
                    </tr>
                    <tr
                        class="table-row"
                        v-for="suggestion in suggestions"
                        :key="suggestion.ID"
                        v-bind:id="suggestion.ID"
                    >
                        <td>
                            <img
                            :id="'img_' + suggestion.ID"
                            :src="getSrc(suggestion.photo_reference)"
                            class="image"
                            />
                        </td>
                        <td>
                            <p :id="'pT_' + suggestion.ID">
                                {{ suggestion.OCR_text }}
                            </p>
                        </td>
                        <td >
                            <p>{{ suggestion.suggested_text }}</p>
                        </td>
                        <td class="correct">
                            <button :id="'a_' + suggestion.ID" type="button" class="btn-yes" v-on:click="updateStatus(suggestion.ID,'approved')">Approve</button><br>
                            <button :id="'d_' + suggestion.ID" type="button" class="btn-no" v-on:click="updateStatus(suggestion.ID,'disapproved')">Disapprove</button>
                        </td>
                    </tr>
                </table>
            </div>
        </body>
    </html>
</template>

<script>

import DataServices from "../services/DataService.ts";

export default {
    data() {
        return {
            suggestions: [],
        };
    },

    async created() {
        const { data: db_results } = await DataServices.getAllSuggestions("pending");
        this.suggestions = db_results;
    },

    methods: {
        getSrc: function(path) {
      const str = require('./assets/out/Nr.1._24.8.1914_rectangles/' + path);
      return str
    },
        updateStatus: async function(id,status) {
            await DataServices.setStatus(id,status);
            var element = document.getElementById('a_' + id.toString());
            var element2 = document.getElementById('d_' + id.toString());
            element.style.visibility = "hidden"
            element2.style.visibility = "hidden"
        }
    }
};
</script>
<style scoped>
body {
  font-family: "lato", sans-serif;
}
.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 80px;
}
.table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.btn-yes {
  background-color: #04aa6d;
  color: white;
  padding: 10px 12px;
  margin-top: 25px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.btn-no {
  background-color: #f44336;
  color: white;
  padding: 10px 12px;
  margin-top: 20px;
  margin-bottom: 25px;
  border: none;
  cursor: pointer;
  width: 50%;
}
</style>

